

.navbar-space-desktop {
  padding-left: 2%;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  padding-left: 45px;
}

.tesla-navbar-button {
  background-color: transparent;
  border: none;
  color: white;

  font-size: 18px;
  font-weight: 600;

  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
}
.tesla-navbar-button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
@media (min-width: 1200px) and (max-width: 1700px) {
  .navbar-space {
    margin-left: 18%;
  }
  .navbar-connect-icon {
    margin-left: 15%;
  }
}
.navbar-connect-icon {
  margin-top: 20px;

  justify-content: end;
}
.navbar-connect-icon-svg {
  color: white;
}

.tesla-navbar-button-1 {
  background-color: white;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;

  height: 40px;
  width: 100px;
  border-radius: 5px;
  outline: none;
}
.tesla-navbar-button-1:hover {
  background-color: rgb(226, 225, 225);
}
.top-icon {
  height: 120px;
}
.top-padding {
  height: 400px;
}
.navbar-car-text-div {
  margin-top: 50px;
}
.navbar-car {
  font-size: 15px;
  line-height: 27px;
  color: #4f5053;
  text-decoration: none;
  font-weight: 500;
}
.navbar-car:hover {
  text-decoration-line: underline;
}
.vl {
  border-left: 0.01px solid #919191;
  height: 260px;
  padding-right: 48px;
  margin-top: 40px;
}
.vl-1 {
  border-left: 0.01px solid #919191;
  height: 140px;
  padding-right: 48px;
  margin-top: 40px;
}
.vl-2 {
  border-left: 0.01px solid #919191;
  height: 190px;
  padding-right: 48px;
  margin-top: 40px;
}
.top-navbar-icon-div {
  text-align: center;
  margin-top: 60px;
}
.top-navbar-icon-div-start {
  margin-left: 120px;
}
.top-navbar-icon-div-last {
  margin-right: 60px;
  margin-top: 60px;
  text-align: center;
}
.top-navbar-icon-div-heading {
  font-size: 20px;
}
.top-navbar-icon-div-heading-2 {
  padding-right: 6px;
  color: #5c5e62;
  font-size: 15px;
  pointer-events: visiblePainted;
}
.top-navbar-icon-div-heading-2-1 {
  text-align: center;
}
.Discover-nav-tag {
  font-size: 17px;
  color: #5c5e62;
  line-height: 40px;
  text-decoration: none;
}
.Discover-nav-text {
  font-size: 16px;
  font-weight: 500;
  color: #171a20;
  line-height: 30px;
  text-decoration: none;
}
.Discover-nav-div {
  margin-right: 125px;
  margin-top: 45px;
}
.Discover-nav-text:hover {
  text-decoration: underline;
}
#myVideo {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100vh;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navbar {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Semi-transparent background for the navbar */
  z-index: 2; /* Display navbar above the video */
}
.hero-main-page-content {
  position: absolute;
  top: 20%;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-main-page-content p {
  font-weight: 600;
}
.hero-main-page-content-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-main-page-content-btn-1 {
  background-color: transparent;
  border: solid;
  color: white;
  border-color: white;
  width: 264px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}
.hero-main-page-content-btn-1:hover {
  color: black;
  background-color: white;
}
.Solar-P-hero-page-link {
  color: white;
}
.hero-model-3-main-page-content-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-model-3-page-content-btn-1 {
  width: 240px;
  height: 40px;
  color: #393c41;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
.hero-model-3-page-content-btn-2 {
  width: 240px;
  height: 40px;
  color: #ffffff;
  background-color: transparent;
  font-weight: 600;
  border: solid 3px #ffffff;
  border-radius: 3px;
  margin-left: 15px;
}
.hero-model-3-page-content-btn-2:hover {
  color: black;
  background-color: white;
}
.hero-model-3-main-page-content-row {
  position: absolute;
  top: 73%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-model-3-main-page-content-row h1 {
  font-size: 24px;
}
.hero-model-3-main-page-content-row p {
  font-size: 12px;
}
.hero-main-page-content-1 {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-main-page-content-1 p {
  font-weight: 600;
}
.second-hero-page {
  background-image: url("assets/Model-S-Interior-Hero-Desktop-LHD.webp");
  height: 120vh;
  background-size: cover;

  background-position: center center;
}
.second-hero-page-black {
  height: 10px;
  background-color: black;
  width: 100%;
}
.second-hero-page-black-text {
  padding-top: 40px;
  text-align: center;
  color: white;
}
.second-hero-page-black-text h1 {
  font-size: 30px;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 80vh;
  float: left;
  background-color: black;
  margin-right: 10px;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide video {
  width: 100%;
  height: 100%;
}

.controls {
  margin-top: 6vh;
  bottom: 10px;
  right: 10px;
  margin-left: 30vh;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
.second-hero-page-carsoul {
  height: 100%;
  width: 100%;
  background-color: black;
  padding-top: 100px;
  padding-bottom: 120px;
}

.round-btn {
  height: 11px;
  width: 11px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.round-btn-white {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  background-color: white;
  border-radius: 50%;
}
.controal-button-text h1 {
  color: white;
  font-size: 24px;
  padding-top: 6px;
  font-weight: 600;
}
.controal-button-text p {
  color: white;
  font-size: 15px;
  padding-top: 6px;
  font-weight: 500;
}
.detail-image-section {
  width: 100%;
}
.detail-image-section-h1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20%;
  padding-top: 15%;
  line-height: 20px;
}
.detail-image-section-p {
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20%;
}
.detail-image-section {
  background-color: #171a20;
  padding-left: 6%;
}
.blue-car-section {
  background-image: url("assets/Model-X-Performance_Desktop-LHD.webp");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center center;
  padding-top: 20%;
}
.blue-car-section-white-box {
  width: 100%;
  height: 30vh;
  background-color: rgb(255, 255, 255);
}
.hero-model-3-main-page-content-row-blue-car {
  margin-left: 24%;

  text-align: center;
  color: white;
}
.hero-model-3-main-page-content-row-blue-car h1 {
  padding-top: 50px;
  font-size: 24px;
  font-weight: 700;
}
.hero-model-3-main-page-content-row-blue-car p {
  font-size: 13px;
}
.blue-car-section-white-box-btn-1 {
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 20ox;
  border: solid 3px #393c41;
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.blue-car-section-white-box-btn-1:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.blue-car-section-white-box-btn-2 {
  height: 40px;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);

  border: none;
  border-radius: 3px;
  margin-left: 2%;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
span {
  text-decoration: underline;

  text-decoration-skip-ink: none;
  padding-bottom: 40px;
}
.blue-car-section-white-box-a {
  color: black;
}
.electric-powertrain {
  background-color: #f4f4f4;
  padding-top: 10%;
}
.electric-powertrain-text-box {
  margin-top: 3%;
}

.electric-powertrain-carousel {
  margin-left: 5%;
  width: 90%;
  background-color: #f4f4f4;
}
.electric-powertrain-detail-div-line {
  border: 3px solid ;
}
.electric-powertrain-detail-div-1 {
  color: rgba(0, 0, 0, 0.5);
}
.electric-powertrain-detail-div-1:hover {
  color: black;
  border-color: white;
}
.black-car-container {
  background-image: url("assets/Model-X-Exterior-Hero-Desktop-Global.webp");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center center;
}
.black-car-container-box {
  height: 30vh;
  background-color: #171a20;
  width: 100%;
  padding-top: 60px;
}
.black-car-section-white-box-btn-3 {
  width: 204px;
  height: 40px;
  color: white;
  background-color: black;
  font-size: 20px;
  border: solid 3px white;
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.black-car-section-white-box-btn-3:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.black-car-section-white-box-btn-4 {
  width: 204px;
  height: 40px;
  color: white;
  background-color: rgb(0, 0, 0);

  border: none;
  border-radius: 3px;
  margin-left: 20px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.black-car-section-white-box-btn-4:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.red-design-section {
  height: 100%;
  padding-top: 60px;
  background-color: #171a20;
}
.red-design-section-div {
  width: 80%;
}

.go-any-where-section-video {
  background-image: url('assets/Model-X-Utility-Hero-Desktop-LHD.webp');
  height: ;
  background-size: cover;

}
.go-any-where-section-video-bottom {
  background-image: url('assets/Model-X-Range_Desktop-LHD.jpg');
  height: ;
  background-size: cover;

}
.go-any-where-section-video-2 {
  width: 100%;
  margin: 0px;
}
.go-any-where-section-video-div {
  position: absolute;
  left: 35%;
  margin-top: -80px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.go-any-where-section-video-div h1 {
  font-size: 24px;
  font-weight: 600;
}
.go-any-where-section-video-div p {
  font-size: 14px;
  font-weight: 500;
}
.go-any-where-section-box {
  padding-top: 4%;
  padding-left: 30px;
}
.go-any-where-section-box-btn {
  padding-top: 70%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.blue-car-section-white-box-btn-5 {
  width: 100%;
  height: 40px;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 20ox;
  border: solid 3px #393c41;
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.blue-car-section-white-box-btn-5:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.blue-car-section-white-box-btn-6 {
  width: 100%;
  margin-top: 4%;
  height: 40px;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);

  border: none;
  border-radius: 3px;

  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  padding-bottom: 10px;
}
.go-any-where-section-box-btn-1 {
  padding-top: 70%;
}
.hardware-section {
  height: 100vh;
}
.auto-pilot-section {
  background-image: url("assets/Model-3-Autopilot-Tablet-Global.webp");
  height: 62vh;
  background-size: cover;
  width: 100%;
  padding-left: 5%;
  background-position: center center;
}
.features-section {
  height: 100vh;
  background-color: #ffffff;
}
#carousel-1 {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.slide-1 {
  width: 100%;
  height: 80vh;
  float: left;
  background-color: #ffffff;
  margin-right: 10px;
}

.slide-1 img {
  width: 100%;
  height: 100%;
}

.slide-1 video {
  width: 100%;
  height: 100%;
}
.features-section-div-1 {
 padding-left: 15%;
 padding-right: 15%;
  padding-bottom: 120px;
}
.black-car-detail {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.black-car-detail-heading {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.black-car-detail-subtitle {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.black-car-detail-btn-1 {
  width: 100%;
  height: 40px;
  color: white;
  background: transparent;
  font-size: 20px;
  border: solid 3px white;
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  margin-bottom: 30px;
}
.black-car-detail-btn-1:hover {
  background-color: transparent;
}
.black-car-detail-btn-2 {
  width: 98%;
  height: 40px;
  color: white;
  background: transparent;
  font-size: 20px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  margin-bottom: 30px;
}
.black-car-detail-btn-2:hover {
  background-color: transparent;
  border: solid 3px rgb(255, 255, 255);
}
.black-car-detail-line {
  border: solid 2px white;
  width: 14%;
}
.footer-section {
  padding-bottom: 20%;
  background-color: #ffffff;
  padding-top: 10%;
}
.footer-section-btn-1 {
  width: 240px;
  height: 40px;
  color: black;
  background: transparent;
  font-size: 17px;
  border: solid 3px black;
  border-radius: 3px;
  text-align: center;
  line-height: 16.5px;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer-section-btn-1:hover {
  background-color: black;
  color: white;
}
.footer-section-btn-2 {
  height: 40px;
  width: 240px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-weight: 600;
  border-radius: 3px;
  margin-left: 4%;
}

.footer-section-2 p {
  font-size: 12px;
  text-align: center;
}
.footer-section-3 a {
  padding-top: 5%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 1%;
}
.footer-section-3 p {
  padding-right: 15px;

  font-size: 13px;
  font-weight: 700;
}

/*mobile version style*/
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: white;
}
@media (min-width: 200px) and (max-width: 450px) {
  #myVideo-mobile {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    min-width: none;
  }

  .video-container {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }
  .Homepage-Mobile-hero-video {
    height: 100;
  }
}

.Homepage-Mobile-hero-nav-home {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  border: none;
  margin-right: 10px;
  font-weight: 600;
}
.mobile-nav-menu-list-card {
  text-decoration: none;
}
.mobile-nav-menu-list-card-div {
  margin-bottom: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
}
.mobile-nav-menu-list-card-div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mobile-nav-menu-list-card-div h1 {
  color: #393c41;
  font-size: 20px;
  line-height: 2;
}
.mobile-nav-menu-list-card-div-icon-text {
  color: #393c41;
  font-size: 20px;
  line-height: 0.5;
  padding-top: 10px;
}
.mobile-nav-menu-list-card-div-icon-1 {
  margin-right: 10px;
  margin-top: 10px;
}
.mobile-nav-menu-list-card-div-icon-2 {
  margin-right: 10px;
  margin-top: 10px;
}
.mobile-nav-menu-list-card-div-arrow {
  position: absolute;
  right: 10%;
  padding-top: 7px;
}
.hero-main-page-content-mobile {
  position: absolute;
  left: 47%;
  top: 20%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  z-index: 1;
}
.mobile-video-section {
  height: 90vh;
  width: 100%;
  padding-top: 10vh;
  background-color: black;
}
.detail-image-section-1 {
  width: 100%;
  background-color: #171a20;
}
.detail-image-section-1-h1 {
  color: white;
  padding-left: 7%;
  padding-top: 5%;
  font-size: 18px;
  font-weight: 600;
}
.detail-image-section-1-p {
  color: white;
  padding-top: 1%;
  padding-left: 7%;
  font-size: 16px;
  padding-right: 8%;
  padding-bottom: 12%;
}
.blue-car-section-m {
  background-image: url("assets/Model-X-Performance_Desktop-LHD.webp");
  width: 100%;

  background-size: cover;
  background-position: center center;
  padding-top: 60%;
}
.hero-model-3-main-page-content-row-blue-car-m {
  margin-left: 8%;

  text-align: center;
  color: white;
}
.hero-model-3-main-page-content-row-blue-car-m h1 {
  padding-top: 50px;
  font-size: 21px;
  font-weight: 700;
}
.hero-model-3-main-page-content-row-blue-car-m p {
  font-size: 13px;
}

#myVideo-mobile-12 {
  position: relative;
  top: 0;
  left: 0;

  height: 50vh;
  min-width: none;
  background-position: center center;
}

f
.Homepage-Mobile-hero-video {
  height: 60vh;
}
.hero-model-3-main-page-content-row-go {
  position: absolute;
  top: 73%;
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.hero-model-3-main-page-content-row-go h1 {
  font-size: 24px;
}
.hero-model-3-main-page-content-row-go p {
  font-size: 12px;
}
.footer-mobile a{
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  text-decoration: none;
  line-height: 2;
  font-weight: 600;

}

